@import "./base.scss";

#form-page-layout						{ display:flex; justify-content:space-between; align-items:flex-start; 
	> *									{ display:block; width:100%; }
}
#form_page_left							{ max-width:45%; }
#form_page_right						{ max-width:50%; }

.form_full								{ width:700px; max-width:100%; margin:0px auto; clear:both; }
.form_full:after						{ content:"."; display:block; height:0; clear:both; zoom:1; visibility:hidden; }

fieldset								{ border:none; padding:0; margin:0; width:100%; }

.formMessage							{ font-weight: bold; text-align: center; margin-bottom: 20px; }
.formSubMessage							{ font-weight: bold; text-align: left; margin: 20px 0 5px 95px; }

.form-error								{ border:2px solid #c00000; background:#f0f0f0; color:#c00000; padding:20px; font-size:16px; font-weight:bold; }

div.required > label:after				{ content:" *"; color:#c00000; margin-right:-10px; font-size:0.8em; }

div.field								{ margin-bottom: 8px; display:flex; justify-content:space-between; align-items:flex-start; flex-wrap:wrap;
	> *									{ display:block; width:100%; }
	> label								{ max-width:30%; line-height:18px; color:#353231; text-align:right; margin:0px; padding-top:10px; }
	> .description						{ display:block; margin-left:35%; font-size:0.9em; max-width:65%; }
	> div 								{ max-width:65%; min-height:30px; 
		select,
		textarea,
		input[type=text],
		input[type=email],
		input[type=number],
		input[type=password]			{ width: 100%; height:auto; min-height:43px; padding:10px; border: 1px #ccc solid; color: #353231; font: normal 15px/15px Arial, sans-serif; margin-bottom: 2px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

		input[type=text]:focus,
		input[type=email]:focus,
		input[type=number]:focus,
		input[type=password]:focus,
		select:focus,
		textarea:focus					{ border-color:#999; outline:none; box-shadow:0 0 3px 1px #999; }	
		
		option							{ background:#FFF; }																		
		textarea						{ resize:vertical; }
		.optionset						{ list-style:none; margin:0; padding:0; }
		.optionset li					{ margin:0; padding:0; }
	}
	&.checkbox							{ justify-content:flex-start; 
		> input							{ margin-left:35%; width:auto; }
		> label							{ text-align:left !important; width:auto; padding-top:0px; margin-left:10px; }
	}
}

span.readonly							{ display:block; width:auto; min-height:30px; padding-top:6px; line-height:18px; font-size:14px; color:#039; }

input.currency							{ background:url(/themes/mysite/images/icons/money_dollar.png) no-repeat center left #ffffff !important; text-indent:15px !important; }

.hpf									{ display:none; }

.radio_input							{ float:left; width:auto; padding-right:30px; height:30px; line-height:30px; }
.radio_input:last-child					{ padding-right:0px !important; }
.radio_input input						{ margin:8px 5px 0px 0px !important; padding:0px !important; float:left !important; }
.radio_input label						{ width:auto !important; clear:none !important; cursor:pointer; }

.checkbox_ct > label					{ margin-bottom: -22px; margin-left: 30px; }
.checkbox_ct > input					{ float: left; clear: both; }

span.message.required					{ color:#c00000; display:block; clear:both; text-align:left; }
label.error								{ color:#c00000; }

.message								{ text-align: center; font: bold 15px/15px Verdana, sans-serif; margin-bottom: 20px; display:block; clear:both; }
.message.good							{ color: #757c5d; }
.message.bad							{ color: #892516; }

.Actions,
.btn-toolbar							{ margin-left:35%;
	input								{ color:#FFF; font-size:16px; outline:none; border:none; padding:8px 15px; background:#001940; margin-bottom:3px; 
		&:hover,
		&:focus							{ cursor:pointer; background: #03337E; }
	}
}

.middleColumn label						{ font-size:16px; }

.stacked.col2 .fieldgroup-field			{ width:49%; float:left; margin-left:2%; }
.stacked.col2 .fieldgroup-field:first-child			{ margin-left:0; }
.stacked.col3 .fieldgroup-field						{ width:32%; float:left; margin-left:2%; }
.stacked.col3 .fieldgroup-field:first-child			{ margin-left:0; }
.stacked label.right				{ font-style:italic; margin:0; text-align:left !important; font-size:14px; float:none; }
.stacked input.required + label.right:after,
.stacked select.required + label.right:after,
.stacked textarea.required + label.right:after{ content:" *"; color:#c00000; }


/* Headers */

h3.form-header							{ clear:both; width:65%; float:right; padding:0 0 5px 0; margin:20px 0 5px 0; border-bottom:solid 1px #2b3966; }


/* Responsive Code */

.ui-widget								{ z-index:500 !important; }

@media (max-width:800px){
	#form-page-layout					{ flex-direction:column; }
	#form_page_left,
	#form_page_right					{ max-width:none; }
}

@media(max-width: 600px){
	
	div.field							{
		> *								{ max-width:none !important; text-align:left !important; }
	}

	div.checkbox						{
		> input							{ margin-left:0; float:left; }
		> label							{ padding-top:0px !important; float:none; clear:none; padding-left:20px; }
	}
		
	h3.form-header						{ width:100% !important; float:left !important; margin-bottom:0px !important; }
	.stacked input.required + label.right			{ overflow:hidden; white-space:nowrap; font-size:11px !important; }
	.Actions,
	.btn-toolbar						{ margin-left:0; }
}

@media(max-width: 430px){
	.centeredForm						{ width:100% !important; }
}


