#form_page_left							{ width:45%; float:left; }
#form_page_right						{ width:50%; float:right; }
.form_full								{ width:700px; max-width:100%; margin:0px auto; clear:both; }
.form_full:after						{ content:"."; display:block; height:0; clear:both; zoom:1; visibility:hidden; }

fieldset								{ border:none; padding:0; margin:0; width:100%; }

.formRight								{ width: 65%; float:right; clear:both; }		

.formMessage							{ font-weight: bold; text-align: center; margin-bottom: 20px; }
.formSubMessage							{ font-weight: bold; text-align: left; margin: 20px 0 5px 95px; }

.form-error								{ border:2px solid #c00000; background:#f0f0f0; color:#c00000; padding:20px; font-size:16px; font-weight:bold; }

div.required > label:after				{ content:" *"; color:#c00000; margin-right:-10px; font-size:0.8em; }

div.field								{ margin-bottom: 8px; }

div.field:after							{ content:"."; display:block; height:0; clear:both; zoom:1; visibility:hidden; }

div.field > label						{ width:30%; min-height:24px; padding-top:6px; line-height:18px; float:left; color:#353231; font-size:16px; display:block; text-align:right !important; margin:0px; }
div.field > div,
.Actions								{ width:65%; min-height:30px; float:right; }
div.field > .description				{ display:block; margin-left:35%; font-size:0.9em; }

span.readonly							{ display:block; width:auto; min-height:30px; padding-top:6px; line-height:18px; font-size:14px; color:#039; }

div.field > div select,
div.field > div textarea,
div.field > div input[type=text],
div.field > div input[type=email],
div.field > div input[type=number],
div.field > div input[type=password]	{ width: 100%; height:auto; min-height:43px; padding:10px; border: 1px #ccc solid; color: #353231; font: normal 15px/15px Arial, sans-serif; margin-bottom: 2px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
div.field > div input[type=text]:focus,
div.field > div input[type=email]:focus,
div.field > div input[type=number]:focus,
div.field > div input[type=password]:focus,
div.field > div select:focus,
div.field > div textarea:focus			{ border-color:#999; outline:none; box-shadow:0 0 3px 1px #999; }	
div.field > div option					{ background:#FFF; }																		
div.field > div textarea				{ resize:vertical; }
div.field .optionset					{ list-style:none; margin:0; padding:0; }
div.field .optionset li					{ margin:0; padding:0; }

input.currency							{ background:url(/themes/mysite/images/icons/money_dollar.png) no-repeat center left #ffffff !important; text-indent:15px !important; }

.hpf									{ display:none; }

.radio_input							{ float:left; width:auto; padding-right:30px; height:30px; line-height:30px; }
.radio_input:last-child					{ padding-right:0px !important; }
.radio_input input						{ margin:8px 5px 0px 0px !important; padding:0px !important; float:left !important; }
.radio_input label						{ width:auto !important; clear:none !important; cursor:pointer; }

.checkbox_ct > label					{ margin-bottom: -22px; margin-left: 30px; }
.checkbox_ct > input					{ float: left; clear: both; }
div.checkbox:after						{ content:"."; display:block; height:0; clear:both; zoom:1; visibility:hidden; }
div.checkbox > input					{ margin-left:35%; }
div.checkbox > label					{ text-align:left !important; float:right; width:61%; padding-top:2px !important; }

span.message.required					{ color:#c00000; display:block; clear:both; text-align:left; }
label.error								{ color:#c00000; }

.message								{ text-align: center; font: bold 15px/15px Verdana, sans-serif; margin-bottom: 20px; display:block; clear:both; }
.message.good							{ color: #757c5d; }
.message.bad							{ color: #892516; }

.Actions input							{ color:#FFF; font-size:16px; outline:none; border:none; padding:8px 15px; background:#001940; margin-bottom:3px; }
.Actions input:hover,
.Actions input:focus					{ cursor:pointer; background: #03337E; }

.middleColumn label						{ font-size:16px; }

.stacked.col2 .fieldgroup-field			{ width:49%; float:left; margin-left:2%; }
.stacked.col2 .fieldgroup-field:first-child			{ margin-left:0; }
.stacked.col3 .fieldgroup-field						{ width:32%; float:left; margin-left:2%; }
.stacked.col3 .fieldgroup-field:first-child			{ margin-left:0; }
.stacked label.right				{ font-style:italic; margin:0; text-align:left !important; font-size:14px; float:none; }
.stacked input.required + label.right:after,
.stacked select.required + label.right:after,
.stacked textarea.required + label.right:after{ content:" *"; color:#c00000; }


/* Headers */

h3.form-header							{ clear:both; width:65%; float:right; padding:0 0 5px 0; margin:20px 0 5px 0; border-bottom:solid 1px #2b3966; }


/* Responsive Code */

.ui-widget								{ z-index:500 !important; }

@media(max-width: 600px){
	
	div.field > label					{ width:100% !important; padding-top:15px !important; line-height:18px; clear:both; text-align:left !important; }
	div.field > div						{ width:100% !important; min-height:30px; float:left !important; clear:left !important; margin-left:0 !important; }
	.formRight							{ width:100%; }

	div.checkbox > input				{ margin-left:0; float:left; }
	div.checkbox > label				{ padding-top:0px !important; float:none; clear:none; padding-left:20px; }
		
	h3.form-header						{ width:100% !important; float:left !important; margin-bottom:0px !important; }
	.stacked input.required + label.right			{ overflow:hidden; white-space:nowrap; font-size:11px !important; }
}

@media(max-width: 430px){
	.centeredForm						{ width:100% !important; }
	.Actions							{ width:100%; float:none; }
}


